.claude
.idea
Claude.md
preferences.yaml
/devices.yaml
.vscode
download/
logs/
results/
target/
tmp/
test.*
.deps_classpath
release.properties
dependency-reduced-pom.xml
buildNumber.properties
HOWTO-RELEASE.md
doc/store-description.txt
modules/backend-qa40x/src/test/lib/libusb/x64/
modules/backend-qa40x/src/test/lib/libusb/.vs/
*.vcxproj.user
/modules/backend-qa40x/src/test/lib/libusb/x64
